---
layout: master
title: 蓝正阳
full_posts: 3
description: 蓝正阳的博客,yonzeo,java,linux
keyword: 蓝正阳,yonzeo,java,linux
---

<div class='home-box' id='home-left'>
  <h2><a href='atom.xml' class='float-right'
      ><img src='/images/subscribe-icon.gif' alt='Subscribe'/></a
      >最新博客（<a href='/blog.html'>更多</a>）</h2>
  
{% for post in site.posts limit:page.full_posts %}
  <div class='post'>
    <span class='date'>{{post.date | date_to_string}}</span>
    <a href='{{post.url}}#comments' title='分享文章、查看评论' style="float:right;margin-right:.5em;">Comments</a>
    <h1><a href='{{post.url}}'>{{post.title}}</a></h1>
    <div class='body'>{{post.content}}</div>
    
  </div>
{% endfor %}

</div>

<div class='home-box' id='home-right'>
  <h2>博客公告</h2>
  <div class='sidebar'>
    <div class="sidebar-item">
	<script>
  		(function() {
   			 var cx = '003480914310221961963:rlzq1ookmue';
    			 var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
    					gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
       					 '//www.google.com/cse/cse.js?cx=' + cx;
   			 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
  		})();
	</script>
	<gcse:search></gcse:search>
      <ul style="margin-top: -3px">
        <li>QQ：204374633</li>
      </ul>
    </div>
  </div>

  <h2>最新文章</h2>
  <div class='sidebar'>
    <div class="sidebar-item">
    <ul class='sidebar-posts'>
      {% for post in site.posts limit:10 %}
      <li title='发布日期：{{post.date | date_to_string}}'><a href='{{post.url}}'>{{post.title}}</a></li>
      {% endfor %}
    </ul>
    </div>
  </div>

  <h2>热门文章</h2>
  <div class='sidebar'>
    <div class="sidebar-item">
    <iframe width="245" height="400" frameborder="0" scrolling="no" src="http://app.wumii.com/ext/widget/hot?prefix=http%3A%2F%2Fwww.zhengyangyang.cn%2F&num=10&t=1"></iframe>
    </div>
  </div>

  <h2>最新评论</h2>
  <div class='sidebar'>
    <div class="sidebar-item">
    <ul class="ds-recent-comments" data-num-items="10" data-show-avatars="1" data-show-time="1" data-show-title="1" data-show-admin="1" data-excerpt-length="70"></ul>
	<script>if (typeof DUOSHUO !== 'undefined')
	DUOSHUO.RecentComments('.ds-recent-visitors');</script>
    </div>
  </div>

  <h2>最近访客</h2>
  <div class='sidebar'>
    <div class="sidebar-item">
    <ul class="ds-recent-visitors" data-num-items="5"></ul>
<script>if (typeof DUOSHUO !== 'undefined')
	DUOSHUO.RecentVisitors('.ds-recent-visitors');</script>
    </div>
  </div>

  <h2>联系方式</h2>
  <div class='sidebar'>
    <div class="sidebar-item">
    <ul>
      <li>邮件：yonzeo[@]qq.com</li>
      <li>QQ ：1344503847</li>
      <li>微博：<a href="http://weibo.com/yonzeo" target="_blank">@yonzeo</a></li>
    </ul>
    </div>
  </div>

  <h2>微博</h2>
  <div class='sidebar'>
    <div class="sidebar-item">
		<iframe width="245" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=245&height=550&fansRow=2&ptype=1&speed=0&skin=3&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=2371914982&verifier=40be62c3&dpc=1"></iframe>
    </div>
  </div>

</div>
